#main-footer {
  background: #343a40;
  color: #fff;
}

#page-header {
  height: 200px;
  background: #f7323f;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}
